<!DOCTYPE html>
<html>

<head>

  <meta charset="utf-8">
  <title>sPAWtted</title>

  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
  <!-- Bootstrap core CSS -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
  <!-- Material Design Bootstrap -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.5/css/mdb.min.css" rel="stylesheet">

  <!-- jQuery -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <!-- Bootstrap tooltips -->
  <script type="text/javascript"
    src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
  <!-- Bootstrap core JavaScript -->
  <script type="text/javascript"
    src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <!-- MDB core JavaScript -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.5/js/mdb.min.js"></script>
  {{!-- Google Maps --}}
  <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBgRbaqVhsVAK0t4HdIdgESatHXCSzMa8U&callback=initMap"></script>

  <style>
    body {
      background-color: darkslategray;
    }

    #mapBody {
      height: 90%;
      position: relative;
    }

    #mapParent {
      height: 90%;
      width: 75%;
      position: absolute;
      right: 0px;
      margin: 0px;
      padding: 0px;
    }

    #map {
      height: 100%;
      width: 100%;
      margin: 0px;
      padding: 0px;
    }

    #sideList {
      height: 100%;
      width: 25%;
      margin: 0px;
      padding: 0px;
      position: absolute;
      left: 0px;
    }

    h1 {
      text-align: center;
    }

    nav {
      position: relative;
    }

    #navButtons {
      position: absolute;
      right: 15px;
    }
    h2 {
      text-align: center;
    }
    textarea {
      width: 100%;
    }
    h5 {
      display: inline;
      font-weight: bold;
      position: relative;
    }
    li {
      position: relative;
    }
    .fa-dog, .fa-venus {
      margin: 3px;
    }
    .fa-venus {
      color: #C36BFF;
    }
    .fa-mars {
      color: #52A4FF;
    }
    .fa-dog {
      color: #8C6726;
    }
    #listIconBox {
      float: right;
    }
  </style>

</head>

<body>

  <nav class="navbar navbar-expand-lg navbar-light bg-light">

    <h1>s<i class='fas fa-paw'></i>tted</h1>

    <div id="navButtons">
      <button class="btn btn-primary btn-rounded my-3" data-toggle="modal" data-target="#listingModal">Report Lost
        Pet</button>
      <button class="btn btn-default btn-rounded my-3" data-toggle="modal"
        data-target="#loginModal">Login/Register</button>
    </div>

  </nav>

  {{{body}}}

  

  <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog cascading-modal" role="document">
      <!--Content-->
      <div class="modal-content">

        <!--Modal cascading tabs-->
        <div class="modal-c-tabs">

          <!-- Nav tabs -->
          <ul class="nav nav-tabs md-tabs tabs-2 light-blue darken-3" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" data-toggle="tab" href="#panel7" role="tab"><i class="fas fa-user mr-1"></i>
                Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#panel8" role="tab"><i class="fas fa-user-plus mr-1"></i>
                Register</a>
            </li>
          </ul>

          <!-- Tab panels -->
          <div class="tab-content">
            <!--Panel 7-->
            <div class="tab-pane fade in show active" id="panel7" role="tabpanel">

              <!--Body-->
              <div class="modal-body mb-1">
                <div class="md-form form-sm mb-5">
                  <i class="fas fa-envelope prefix"></i>
                  <input type="email" id="loginemail" class="form-control form-control-sm validate"
                    placeholder="Your Email">
                  <label data-error="wrong" data-success="right" for="loginemail"></label>
                </div>

                <div class="md-form form-sm mb-4">
                  <i class="fas fa-lock prefix"></i>
                  <input type="password" id="loginpassword" class="form-control form-control-sm validate"
                    placeholder="Password">
                  <label data-error="wrong" data-success="right" for="loginpassword"></label>
                </div>
                <div class="text-center mt-2">
                  <button class="btn btn-info">Log in <i class="fas fa-sign-in ml-1"></i></button>
                </div>
              </div>
              <!--Footer-->
              <div class="modal-footer">
                <div class="options text-center text-md-right mt-1">
                  <p>Not a member? <a href="#" class="blue-text">Sign Up</a></p>
                  <p>Forgot <a href="#" class="blue-text">Password?</a></p>
                </div>
                <button type="button" class="btn btn-outline-info waves-effect ml-auto"
                  data-dismiss="modal">Close</button>
              </div>

            </div>
            <!--/.Panel 7-->

            <!--Panel 8-->
            <div class="tab-pane fade" id="panel8" role="tabpanel">

              <!--Body-->
              <div class="modal-body">

                <div class="md-form form-sm mb-5">
                  <i class="fas fa-user prefix"></i>
                  <input type="text" id="newusername" class="form-control form-control-sm validate"
                    placeholder="User Name">
                  <label data-error="wrong" data-success="right" for="newusername"></label>
                </div>

                <div class="md-form form-sm mb-5">
                  <i class="fas fa-user prefix"></i>
                  <input type="text" id="firstname" class="form-control form-control-sm validate"
                    placeholder="First Name">
                  <label data-error="wrong" data-success="right" for="firstname"></label>
                </div>

                <div class="md-form form-sm mb-5">
                  <i class="fas fa-user prefix"></i>
                  <input type="text" id="lastname" class="form-control form-control-sm validate"
                    placeholder="Last Name">
                  <label data-error="wrong" data-success="right" for="lastname"></label>
                </div>

                <div class="md-form form-sm mb-5">
                  <i class="fas fa-envelope prefix"></i>
                  <input type="email" id="email" class="form-control form-control-sm validate"
                    placeholder="Your Email">
                  <label data-error="wrong" data-success="right" for="email"></label>
                </div>


                <div class="md-form form-sm mb-5">
                  <i class="fas fa-lock prefix"></i>
                  <input type="password" id="newpassword" class="form-control form-control-sm validate"
                    placeholder="Password">
                  <label data-error="wrong" data-success="right" for="newpassword"></label>
                </div>

                <div class="md-form form-sm mb-4">
                  <i class="fas fa-map-marked-alt prefix"></i>
                  <input type="text" id="address" class="form-control form-control-sm validate"
                    placeholder="Address">
                  <label data-error="wrong" data-success="right" for="address"></label>
                </div>

                <div class="md-form form-sm mb-4">
                  <i class="fas fa-phone prefix"></i>
                  <input type="number" id="phonenumber" class="form-control form-control-sm validate"
                    placeholder="Phone Number">
                  <label data-error="wrong" data-success="right" for="phonenumber"></label>
                </div>

                <div class="text-center form-sm mt-2">
                  <button class="btn btn-info" id="signupbutton">Sign up <i class="fas fa-sign-in ml-1"></i></button>
                </div>

              </div>
              <!--Footer-->
              <div class="modal-footer">
                <div class="options text-right">
                  <p class="pt-1">Already have an account? <a href="#" class="blue-text">LOG IN</a></p>
                </div>
                <button type="button" class="btn btn-outline-info waves-effect ml-auto"
                  data-dismiss="modal">CANCEL</button>
              </div>
            </div>
            <!--/.Panel 8-->
          </div>

        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="listingModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
  
      <div class="modal-content">

        <div class="modal-header text-center">
          <h2 class="modal-title">Report A Lost Pet</h2>
          <hr>
        </div>

        <div class="modal-header text-center">
          <p>We're so sorry to hear you've lost track of your buddy <i class="fas fa-sad-tear"></i> Fill in the information below and alert the sPAWtted community!</p>
        </div>
  
        <div class="modal-body mb-1">

          <form action="/api/listing" method="POST">
            <p>Pet's Name</p>
            <div class="md-form form-sm mb-5">
              <input type="text" id="petName" class="form-control form-control-sm validate" placeholder="Pet Name">
            </div>  

            <div class="md-form form-sm mb-5">
              <input type="text" id="petBreed" class="form-control form-control-sm validate" placeholder="Breed (if known)">
            </div>

            <div class="md-form form-sm mb-5">
              <input type="text" id="petGender" class="form-control form-control-sm validate" placeholder="Gender">
            </div>

            <div class="md-form form-sm mb-5">
              {{!-- change to a dropdown --}}
              <input type="text" id="petType" class="form-control form-control-sm validate" placeholder="Dog or Cat">
            </div>
            
            <div class="md-form form-sm mb-4">
              {{!-- attach maps listener to this input --}}
              <input type="text" id="lastKnownLocation" class="form-control form-control-sm validate"
                placeholder="Last Known Location">
            </div>

            <div class="md-form form-sm mb-5">
              <textarea name="petDescription" id="petDescription" placeholder="Enter any additional comments or descriptors for your pet"></textarea>          
            </div>
    
            <div class="text-center mt-2">
              <button id="lostPetSubmit" type="submit" class="btn btn-info">SUBMIT REPORT</button>
            </div>
          </form>
  
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-info waves-effect ml-auto" data-dismiss="modal">CANCEL</button>
        </div>

      </div>
    </div>
  </div>



  <script type="text/javascript" src="js/googlemaps.js"></script>
  <script type="text/javascript" src="js/index.js"></script>
  <script type="text/javascript" src="js/postListing.js"></script>
  <script type= "text/javascript" src="/js/publicuser.js"></script>

</body>

</html>