
<div id="sideList">
  <ul class="list-group">
    {{#each listings}}      
      <li data-id="{{id}}" class="list-group-item">
        <h5>{{name}}</h5>
        <div id="listIconBox">
          {{#if isDog}}
            <i class="fas fa-dog fa-lg"></i>
          {{else}}
            <i class="fas fa-cat fa-lg"></i>
          {{/if}}
          {{#if isMale}}
            <i class="fas fa-mars fa-lg"></i>
          {{else}}
            <i class="fas fa-venus fa-lg"></i>
          {{/if}}
        </div>
      </li>
    {{/each}}
  </ul>
</div>

<div id="mapParent">
  <div id="map"></div>
</div>