body {
  background-color: #456D80;
}

p {
  line-height: 1;
}

#mapBody {
  height: 90%;
  position: relative;
}

#mapParent {
  height: 90%;
  width: 75%;
  position: absolute;
  right: 5px;
  margin: 0px;
  padding: 0px;
}

#map {
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
  border-radius: 5px;
}

#sideList {
  width: 24%;
  height: 90%;
  margin: 0px;
  padding: 0px;
  position: absolute;
  left: 5px;
  overflow-y: auto;
}

h1 {
  text-align: center;
}

nav {
  position: relative;
  background-image: url("../img/dog-paw-print-trail-25.gif");
  background-repeat: no-repeat;
  background-position: center;
  background-position-x: 190px;
  margin-bottom: 5px;
}

#navButtons {
  position: absolute;
  right: 15px;
}

.btn {
  background-color: white;
  color: white;
}

h2 {
  text-align: center;
}

textarea {
  width: 100%;
}

h5 {
  display: inline;
  font-weight: bold;
  position: relative;
}

li {
  position: relative;
}

.fa-dog,
.fa-cat,
.fa-venus,
.fa-mars {
  margin-left: 10px;
  margin-right: 10px;
}

.fa-venus {
  color: #C36BFF;
}

.fa-mars {
  color: #52A4FF;
}

.fa-dog {
  color: #8C6726;
}

#listIconBox {
  float: right;
}

#upload_widget,
#lostPetSubmit {
  width: 100%;
  font-size: 12pt;
}

#lostPetSubmit {
  font-weight: bold;
}

strong {
  color: white;
  font-size: 36pt;
}

.nav-btn {
  color: #1F6180;
  border-radius: 5px;
  font-weight: 500;
}

.nav-btn:hover {
  color: #3DC2FF;
}

.list-group-item:hover {
  background-color: rgb(174, 229, 255);
}

.markerImage {
  width: 275px;
}

.sighting-btn {
  width: 75%;
  display: block;
  margin: 0 auto;
}